Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
z="aman"
type(z)

str

In [2]:
m=["amanuddin",45,23,99]
type(m)

list

In [3]:
f=9.69
type(f)

float

In [5]:
t=("tuple",22,44,32,54)
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [8]:
var1=''     #str

In [11]:
var2 = '[ DS , ML , Python]'       #str

In [13]:
var3 = [ 'DS' , 'ML' , 'Python' ]     #list

In [16]:
var4 = 1.                    #float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
#division
9/2                    # divides

4.5

In [18]:
#modulus
10/3            #--provides remainder

3.3333333333333335

In [19]:
#floor division
10//3           #--provides nearest integer

3

In [20]:
# exponential
2**2                      #used to provide exponential value

4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
l=[22,444,66,99,1.23,4.78,"aman","uddin",True,5+3j]

In [24]:
for i in l:
    print(i,type(i))

22 <class 'int'>
444 <class 'int'>
66 <class 'int'>
99 <class 'int'>
1.23 <class 'float'>
4.78 <class 'float'>
aman <class 'str'>
uddin <class 'str'>
True <class 'bool'>
(5+3j) <class 'complex'>

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [25]:
#mutable data types are that data types which can be altered after their declaration an same memory
#  location and can be iterable.

In [26]:
#example of mutable data type is list

In [27]:
l

[22, 444, 66, 99, 1.23, 4.78, 'aman', 'uddin', True, (5+3j)]

In [28]:
# we an change any value at any index on the same list

In [ ]:
# immutable are those that cannot be altered after the